.ui.selection.list.list > .item:hover,
.ui.selection.list > .item:hover {
  background: lightblue !important;
  color: rgba(0, 0, 0, 0.8);
}
.header {
    color:white !important;
}

.ui.selection.list.list.passive > .item:hover,
.ui.selection.list.passive > .item:hover {
  background: grey !important;
  color: rgba(0, 0, 0, 0.8);
}