.MessageBody {
    overflow: auto;
}

.my {
    text-align: right;
    margin-right: 10px;
}
.he {
    text-align: left;
    margin-right: 10px;
}
.MessageList{
    color: white;
    background: #147efb;
    margin: 5px;
    width: fit-content;
    display: inline-block;
    padding: 4px;
    border: 1px solid white;
    border-radius: 10px;
}


